<div class="box-with-img">
  <div class="main-text">
    <h1>How many bathtubs of plastic could your event reduce?</h1>
    <h4 class="mt-5">
      Make your event 21st cetury ready. Make your event plasticfree.
    </h4>
  </div>
  <img src="../images/mainbath.svg" alt="" />
</div>
<form class="" action="/formpage" method="POST">
  <div class="form-row">
    <div class="form-group">
      <label for="form1">Name of the Event</label>
      <input required type="text" name="name" class="form-control" id="form1" />
    </div>
    <div class="form-group">
      <label for="form1">Number of Participants</label>
      <input
        required
        type="number"
        name="participants"
        class="form-control"
        id="form1"
      />
    </div>
    <div class="form-group">
      <label for="form2">Days of the Event</label>
      <input
        required
        type="number"
        name="days"
        class="form-control"
        id="form2"
      />
    </div>
    <!--   <div class="form-group">
          <label for="form3">Hours per day</label>
          <input type="number" class="form-control" id="form3" />
        </div> -->
    <div class="ml-5 box-elements form-row">
      <div class="form-check ">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="defaultCheck1"
        />
        <label class="form-check-label" for="defaultCheck1">
          <img src="../images/bottle.svg" alt="" />
        </label>
      </div>
      <div class="form-check ml-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="defaultCheck1"
        />
        <label class="form-check-label" for="defaultCheck1">
          <img src="../images/cup.svg" alt="" height="103" />
        </label>
      </div>
      <div class="form-check ml-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="defaultCheck1"
        />
        <label class="form-check-label" for="defaultCheck1">
          <img src="../images/cutlery.svg" alt="" height="97" />
        </label>
      </div>
    </div>

    <br />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
